PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=15432
POSTGRES_DB=knowbase
POSTGRES_USER=knowbase
POSTGRES_PASSWORD=knowbase

MONGODB_URI=mongodb://knowbase:knowbase@localhost:17017/knowbase?authSource=admin

RUSTFS_ENDPOINT=localhost
RUSTFS_PORT=19000
RUSTFS_USE_SSL=false
RUSTFS_ACCESS_KEY=knowbaseadmin
RUSTFS_SECRET_KEY=knowbaseadmin
RUSTFS_BUCKET=knowbase-documents
